@font-face {
  font-family: Wisdom;
  src: url('../fonts/WisdomScriptAJ.otf');
}

@font-face {
  font-family: Sacremento;
  src: url('../fonts/Sacremento.ttf');
}

:root {
  --bold: 700;
  --customGreen: #38c695;
  --customOrange: #fc5f45;
  --customPurple: #b27cf5;
  --customYellow: #feb960;
  --medium: 500;
  --regular: 400;
}

body {
  margin: 0;
  color: #616161;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 60px !important;
}

h2 {
  font-weight: 700;
  font-size: 50px;
  font-family: 'Libre Baskerville', serif !important;
}

h3 {
  font-size: 22px;
}

h5 {
  color: #616161;
  font-weight: (--regular);
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

h6 {
  font-size: 22px;
}

input {
  width: 360px;
  height: 50px;
  text-align: center;
}

textarea {
  max-width: 80%;
  width: 750px;
  height: 200px;
  text-align: center;
}

/* General Properties */

.title h2 {
  color: black;
  font-weight: 700;
  font-size: 50px;
  font-family: 'Libre Baskerville', serif !important;
}

.bold-text {
  font-weight: 900;
}

.one-line {
  margin-bottom: 0 !important;
  width: 100%;
  height: 3px;
}

.one-line-abs {
  position: absolute;
  bottom: 0 !important;
  width: 100%;
  height: 3px;
}

.background-custom-orange {
  background-color: var(--customOrange);
}

.background-custom-green {
  background-color: var(--customGreen);
}

.background-custom-purple {
  background-color: var(--customPurple);
}

.background-custom-yellow {
  background-color: var(--customYellow);
}

.color-custom-orange {
  color: var(--customOrange);
}

.color-custom-green {
  color: var(--customGreen);
}

.color-custom-purple {
  color: var(--customPurple);
}

.color-custom-yellow {
  color: var(--customYellow);
}

.relative-position {
  position: relative;
}

/* header */

.header {
  height: 76px !important;
  background-color: #fff;
}

.header__logo {
  padding-top: 10px;
  text-align: center;
  font-size: 35px;
  font-family: Wisdom;
}

.header__logo::first-letter {
  color: #fc5f45;
}

.header__menu {
  display: flex;
  float: right;
  margin-right: 8%;
  margin-left: 5%;
  padding-top: 25px;
  width: 730px;
  font-weight: 500;

  align-items: center;
  justify-content: space-between;
}

.header__menu p {
  font-weight: 500;
  font-size: 14px;
}

.header__menu-btn {
  outline: none;
  border: none;
}

/* mainPart */

.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  background: url('../img/slider2.jpg');
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;

  justify-content: center;
}

.intro h1 {
  color: white;
  text-align: center;
  font-family: 'Libre Baskerville', serif !important;
}

.intro p {
  font-weight: 500;
  font-size: 18px;
}

.intro-text {
  font-size: 60px;
}

.orange-btn {
  width: 180px;
  height: 50px;
  border-radius: 30px;
  background-color: #fc5f45;
  line-height: 50px;
}

.intro__orange-btn {
  margin: 0 auto;
  margin-top: 62px;
}

.orange-btn p {
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.circle-container {
  max-width: 800px !important;
}

.circle {
  text-align: center;
}

.img-circle {
  margin-top: 82px;
  margin-bottom: 34px;
}

.circle-p1 p {
  color: #38c695;
}

.circle-p2 p {
  color: #a776e5;
}

.circle-p3 p {
  color: #feb960;
}

/* aboutUs */

.about-us-container__block {
  display: flex;
  margin: 0 auto;
  margin-top: 150px;

  align-items: center;
  justify-content: center;
}

.about-us-container__bg {
  position: relative;
  z-index: 1;
  margin-left: -4vw;
  width: 650px;
  height: 555px;
  background-color: white;
}

.about-us-container__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80%;
  height: inherit;
  color: #959595;

  justify-content: center;
}

.gradient-bottom-line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right,
  var(--customOrange) 25%,
  var(--customGreen) 25% 50%,
  var(--customPurple) 50% 75%,
  var(--customYellow) 75%);

  flex: 1 0 auto;
}

/* aboutUs */
.about-us-block {
  display: flex;
  margin: 0 auto;
  margin-top: 150px;

  align-items: center;
  justify-content: center;
}

.about-us-background {
  position: relative;
  z-index: 1;
  margin-left: -4vw;
  width: 650px;
  height: 555px;
  background-color: white;
}

.about-us-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80%;
  height: inherit;
  color: #959595;

  justify-content: center;
}

.line-about-us-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right,
  #fc5f45 25%,
  #38c695 25% 50%,
  #b27cf5 50% 75%,
  #feb960 75%);

  flex: 1 0 auto;
}

/* ourFocus */

.our-focus * {
  text-align: center;
}

.our-focus h2 {
  margin-top: 35vh;
}

.our-focus h5 {
  margin-top: 20px;
  margin-bottom: 10vh;
}

.our-focus-container {
  display: flex;
  margin: 0 auto;
  max-width: 75%;
  width: 1140px;

  flex-wrap: wrap;
  justify-content: space-between;
}

.our-focus-container__card {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 260px;
  height: 320px;
  border: 0 !important;
  background-color: white;

  justify-content: space-around;
}

.our-focus-container__card * {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.our-focus-container__card p {
  color: #959595;
  font-weight: 400;
  font-size: 15px;
}

.our-focus-container__card img {
  width: 60px;
  height: 45px;
}

/* why Select Card */

.why-select-us-container {
  margin-top: 145px;
}

.why-select-us-wrapper {
  padding-top: 130px;
  padding-bottom: 60px;
  text-align: center;
}

.why-select-card {
  margin-bottom: 70px;
}

.why-select-flex {
  display: flex;
  margin-bottom: 30px;
}

.why-select-flex img {
  width: 50px;
  height: 50px;
}

.custom-img-why-select {
  width: 50px;
  height: 58px !important;
}

.why-select-container p {
  margin-bottom: 0 !important;
  color: #616161;
}

.why-select-h h5 {
  margin-bottom: 5px;
  margin-left: 15px;
  color: #272727;
  font-weight: 500;
  font-size: 18px;
}

/*Start jorny*/

.start-jorny {
  display: flex;

  align-items: center;
  justify-content: center;
}

.jorny-container {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 270px;
  max-width: 100%;
  width: 1200px;
}

.orange-btn-jorny {
  margin-bottom: 8px;
  margin-left: 30px;
  width: 180px;
  height: 50px;
  border-radius: 30px;
  background-color: #fc5f45;
  line-height: 50px;
}

.orange-btn-jorny p {
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

/* Explore */

.explore-container {
  margin-top: 130px;
  height: 500px;
}

.explore-container__img {
  display: flex;
  flex-direction: column;
  height: 500px;
  background-image: url(../img/explore4.jpg);
  background-size: cover;

  align-items: center;
  justify-content: center;
}

.explore-container__img * {
  display: block;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-weight: 400;
}

.explore-container__play {
  display: block;
  margin-top: 42px;
  margin-bottom: 42px;
}

/* Portfolio */
.our-portfolio-container * {
  text-align: center;
}

.our-portfolio-container h2 {
  margin-top: 15vh;
}

.our-portfolio-container h5 {
  margin-top: 4vh;
  margin-bottom: 10vh;
}

.portfolio-wrapper {
  max-width: 100%;
  width: 1120px !important;
}

.portfolio-wrapper__img {
  display: block !important;
  margin: 0 auto;
  margin-top: 15px;
}

/* Our Team */

.our-team-container {
  text-align: center;
}

.our-team-container h2 {
  margin-top: 15vh;
}

.our-team-container h5 {
  margin-top: 4vh;
  margin-bottom: 10vh;
}

.our-team-container__card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 260px;
  height: 350px;
  border: 0 !important;
  background-color: white;
  text-align: center;

  justify-content: space-between;
}

.our-team-container-img {
  max-width: 100%;
  max-height: 80%;
  width: 263px;
  height: 270px;
}

/* AboutBennet */

.about-bennet-container {
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 220px;
  max-width: 70% !important;
}

.about-bennet-container-ico {
  float: right;
  margin-top: 150px;
  margin-right: 20%;
}

.social-container {
  margin-top: 80px;
}

.social-container__wrapper {
  display: flex;
  flex-direction: stretch;
}

.social-container__wrapper p {
  margin-bottom: 16px;
}

.social-container__soc {
  margin-top: 4px;
  margin-right: 4px;
}

/*layer24*/

.stats-container {
  width: 100%;
  height: 460px;
  background-image: url(../img/Layer24.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.stats-container__img {
  margin-bottom: 28px;
}

.stats-container__class {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  height: 460px;
  color: white;
  color: #bdbdc0;
  font-size: 15px;
  font-size: 20px;

  align-items: center;
  justify-content: center;
}

.stats-container__class p {
  margin-bottom: 38px;
}

/*workSteps*/

.work-steps-container {
  text-align: center;
}

.work-steps-container h2 {
  margin-top: 148px;
}

.work-steps-container h5 {
  margin-top: 40px;
  margin-bottom: 110px;
}

.work-steps-block {
  margin: 0 auto;
}

.work-steps-container__content {
  position: relative;
  padding-top: 50px;
}

.work-steps1 {
  margin-top: 50px;
  width: 556px;
  height: 300px;
  background-image: url(..//img/workSteps1.png);
}

.work-steps2 {
  width: 556px;
  height: 300px;
  background-image: url(..//img/workSteps2.png);
}

.work-steps3 {
  width: 556px;
  height: 300px;
  background-image: url(..//img/workSteps3.png);
}

.work-steps4 {
  width: 556px;
  height: 300px;
  background-image: url(..//img/workSteps4.png);
}

.work-steps-container__content-block1 {
  position: absolute;
  margin-bottom: 8px;
  margin-left: 16vw;
  width: 460px;
  height: 300px;
  background-color: white;
}

.work-steps-container__content-block h1 {
  color: #e0e0e0;
  text-align: center;
  font-weight: var(--bold);
  font-size: 50px;
  font-family: 'Libre Baskerville', serif !important;
}

.content-block1 {
  position: absolute;
  margin-top: -40px;
  margin-bottom: 35px;
  margin-left: 16vw;
  width: 460px;
  height: 300px;
  background-color: white;
}

.content-block1-content p {
  margin: 0;
  margin-bottom: 4px;
  color: #616161;
  font-size: 15px;
}

.content-block1 {
  color: #e0e0e0;
  text-align: center;
  font-weight: var(--bold);
  font-size: 50px;
  font-family: 'Libre Baskerville', serif !important;
}

.content-block1-content h2 {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 25px;
  color: #272727;
  font-size: 25px;
}


.content-block2 {
  position: absolute;
  margin-top: 255px;
  margin-bottom: 8px;
  margin-left: 60vw;
  width: 460px;
  height: 300px;
  background-color: white;
}

.content-block2 h1 {
  color: #e0e0e0;
  text-align: center;
  font-weight: var(--bold);
  font-size: 50px;
  font-family: 'Libre Baskerville', serif !important;
}

.content-block2-content p {
  margin: 0;
  margin-bottom: 4px;
  color: #616161;
  font-size: 15px;
}

.content-slock2-content h2 {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 25px;
  color: #272727;
  font-size: 25px;
}


.content-block3 {
  position: absolute;
  margin-top: 555px;
  margin-bottom: 8px;
  margin-left: 16vw;
  width: 460px;
  height: 300px;
  background-color: white;
}

.content-block3 h1 {
  color: #e0e0e0;
  text-align: center;
  font-weight: var(--bold);
  font-size: 50px;
  font-family: 'Libre Baskerville', serif !important;
}

.content-block3-content p {
  margin: 0;
  margin-bottom: 4px;
  color: #616161;
  font-size: 15px;
}

.content-block3-content h2 {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 25px;
  color: #272727;
  font-size: 25px;
}



.content-block4 {
  position: absolute;
  margin-top: 855px;
  margin-bottom: 8px;
  margin-left: 60vw;
  width: 460px;
  height: 300px;
  background-color: white;
}

.content-block4 h1 {
  color: #e0e0e0;
  text-align: center;
  font-weight: var(--bold);
  font-size: 50px;
  font-family: 'Libre Baskerville', serif !important;
}

.content-block4-content p {
  margin: 0;
  margin-bottom: 4px;
  color: #616161;
  font-size: 15px;
}

.content-block4-content h2 {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 25px;
  color: #272727;
  font-size: 25px;
}

/* pricing Table */

.container-content-pricing {
  margin-top: 70px;
}

.pricing-table-container {
  margin-top: 300px;
  max-width: 100%;
}

.pricing-card {
  max-width: 100%;
  width: 360px;
  height: 570px;
}

.pricing-card * {
  margin: 0 auto;
  text-align: center;
}

.pricing-card h5 {
  margin-top: 30px;
}

.card-pricing-text p {
  margin-bottom: 20px;
}

.pricing-circle {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 115px;
  height: 115px;
  color: white;

  align-items: center;
  justify-content: center;
}

.pricing-circle1 {
  background-image: url(../img/pricingStarterCircle.png);
}

.pricing-circle2 {
  background-image: url(../img/pricingUltimateCircle.png);
}

.pricing-circle3 {
  background-image: url(../img/pricingProfessionalCircle.png);
}

.btn-green-get-started {
  width: 180px;
  height: 50px;
  border: 1px solid var(--customGreen);
  border-radius: 30px;
  background-color: none;
  line-height: 50px;
}

.btn-green-get-started p {
  color: var(--customGreen);
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.btn-orange-get-started {
  width: 180px;
  height: 50px;
  border-radius: 30px;
  background-color: var(--customOrange);
  line-height: 50px;
}

.btn-orange-get-started p {
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.btn-purple-get-started {
  width: 180px;
  height: 50px;
  border: 1px solid var(--customPurple);
  border-radius: 30px;
  background-color: none;
  line-height: 50px;
}

.btn-purple-get-started p {
  color: var(--customPurple);
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

/*Testimonials*/

.testimonials {
  max-width: 100%;
  width: 100%;
  height: 880px;
  background-image: url(..//img/backgroundTestimonials.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.testimonials-wrapper h2 {
  margin-top: 130px;
  margin-bottom: 15px;
  text-align: center;
}

.testimonials-wrapper h5 {
  margin-bottom: 70px;
  text-align: center;
}

.testimonials h2 {
  padding-top: 150px;
  color: white;
}

.testimonials h5 {
  color: white;
}

.testimonials-container {
  display: flex;
  margin: 0 auto;
  width: 60%;

  align-items: center;
}

.testimonials-container img {
  z-index: 1;
  width: 384px;
  height: 399px;
}

.testimonials-container p {
  margin-bottom: 3px;
  padding-left: 15%;
  text-align: left;
}

.white-block-testimonials {
  position: relative;
  margin-left: -80px;
  width: 800px;
  height: 300px;
  background-color: white;
}

.testimonials-text {
  margin-top: 35px;
  margin-bottom: 30px;
  color: #616161;
}

.white-block-testimonials h4 {
  padding-left: 15%;
  font-size: 40px;
  font-family: Sacremento;
}

/*ourBlog*/

.container-our-blog {
  margin-top: 80px;
}

.our-blog {
  text-align: center;
}

.our-blog-card {
  position: relative;
  max-width: 100%;
}

.our-blog-img {
  max-width: 100%;
  width: 555px;
  height: 443px;
  background-image: url('../img/ourBlogImg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.our-blog-content {
  position: relative;
  margin-bottom: 0;
  max-width: 100%;
  width: 555px;
  height: 247px;
  text-align: left;
}

.our-blog-content-wrapper {
  margin: 0 auto;
  padding-top: 5%;
  max-width: 80%;
  height: 90%;
}

.our-blog-content p {
  margin-bottom: 5px;
  color: #272727;
  font-weight: 400;
}

.our-blog-content h3 {
  font-weight: 500;
  font-size: 20px;
}

.our-blog-content-right-wrapper {
  margin: 0 auto;
  padding-top: 5%;
  max-width: 90%;
  height: 90%;
}

.our-blog-content-right {
  position: relative;
  max-width: 100%;
  max-height: 230px;
  width: 555px;
  height: 230px;
  text-align: left;
}

.author {
  display: flex;
  margin-top: 0;
}

.author p {
  margin-left: 25px;
  font-size: 13px;
}

.our-blog-content-right p {
  margin-bottom: 5px;
  color: #272727;
  font-weight: 400;
}

.our-blog-content-right h3 {
  font-weight: 500;
  font-size: 18px !important;
}

.our-blog-content-right h6 {
  font-size: 15px !important;
}

/*newsletter*/

.news-letter {
  margin-top: 300px;
  text-align: center;
}

.news-letter-p p {
  float: right;
  margin-top: 70px;
  margin-right: 115px;
}

.news-letter-btn {
  margin-top: 0;
  margin-top: 53px;
  margin-left: 75px;
  border-radius: 0 30px 30px 0;
}

.news-letter-btn p {
  color: white;
  font-weight: 400;
  font-size: 18px;
}

/*footer*/

.footer-cont {
  margin-top: 150px;
  width: 100%;
  height: 1300px;
  background-color: #ccc;
}

.footer {
  margin: 0 auto;
  padding-top: 150px;
  text-align: center;
}

.footer-text {
  margin-top: 70px;
}

.send-message-btn {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 150px;
}

.wrapper-inp1 {
  padding-top: 80px;
}

.wrapper-inp {
  display: flex;
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 80%;
  width: 750px;

  justify-content: space-between;
}

.alexis-footer {
  position: relative;
  display: flex;
  margin-top: 150px;
  max-width: 100%;
  width: 1140;
  height: 230px;
  background-color: #3f4049;

  justify-content: space-between;
}

.wrapper-alexis-footer {
  width: 25%;
  text-align: left;
}

.wrapper-alexis-footer h5 {
  margin-top: 60px;
  margin-bottom: 35px;
  margin-left: 20%;
}

.icon-wrapper {
  margin-left: 20%;
}

.soc-f {
  display: block;
  width: 17px;
  height: 17px;
}

.wrapper-alexis-footer p {
  color: #fef4f2;
}

.wrapper-alexis-text p {
  margin-bottom: 3px;
  margin-left: 20%;
}

@media screen and (max-width: 1200px) {
  .header-menu {
    display: none;
  }

  .header-small-menu {
    position: relative;
    display: block;
  }

  .menu-btn {
    float: right;
    margin-top: 21px;
    margin-right: 2% !important;
    width: 45px;
    height: 45px;
    outline: none;
    border: none;
    background-image: url(../img/list.png);
    background-size: cover;
    background-repeat: none;
  }
}

@media screen and (max-width: 1140px) {
  .about-us-container-block,
  .about-us-container * {
    width: 100%;

    all: unset;
  }

  .about-us-container-img {
    display: block;
    margin: 0 auto;
    margin-top: 150px !important;
    max-width: 80%;
    width: 555px;
    height: 700px;
  }

  .about-us-container-background {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 80%;
    width: 555px;
    height: 555px;
  }

  .about-us-container-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80%;
    height: inherit;
    color: #959595;

    justify-content: center;
  }
}
