@font-face {
    font-family:Wisdom;
    src: url("../fonts/WisdomScriptAJ.otf");
}
:root {
    --customOrange:#fc5f45;
    --customGreen:#38c695;
    --customPurple:#b27cf5;
    --customYellow:#feb960;

    --regular:400;
    --medium:500;
    --bold:700;
}

body {
    margin:0px;
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    color:#616161;
}
h1 {
    font-size:60px !important;
}
/* h2 {
    font-size:50px ;
    font-family: 'Libre Baskerville', serif !important;
    font-weight: 700 ;
} */
h3 {
    font-size:22px;
}
h4 {

}
h5 {
    font-size:18px;
    font-weight:(--regular);
    font-family:'Poppins', sans-serif;
    color:#616161;
}
h6 {
    font-size:22px;
}
input {
    text-align:center;
    width:360px;
    height:50px;
}
textarea {
    width:750px;
    height:200px;
    text-align:center;
    max-width:80%;
}

/* General Properties */
.title h2{
    font-size:50px ;
    font-family: 'Libre Baskerville', serif !important;
    font-weight: 700 ;
    color:black;
}
.bold-text {
    font-weight: 900;
}
.one-line {
    height:3px;
    width:100%;
    margin-bottom:0 !important;
}
.one-line-abs {
    position:absolute;
    height:3px;
    width:100%;
    bottom:0 !important;
    
}
.background-custom-orange {
    background-color:var(--customOrange)
}
.background-custom-green {
    background-color:var(--customGreen)
}
.background-custom-purple {
    background-color:var(--customPurple)
}
.background-custom-yellow {
    background-color:var(--customYellow)
}
.color-custom-orange {
    color:var(--customOrange)
}
.color-custom-green {
    color:var(--customGreen)
}
.color-custom-purple {
    color:var(--customPurple)
}
.color-custom-yellow {
    color:var(--customYellow)
}


/* header */
.header {
    height: 76px !important;
    background-color:#ffffff;
}
.header-logo{
    text-align:center;
    font-size:35px;
    padding-top:10px;
    font-family:Wisdom;
}
.header-logo::first-letter{
    color:#fc5f45;
}
.header-menu {
    width:730px;

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top:25px;
    float:right ;
    margin-right:8%;
    margin-left:5%;
    font-weight:500;
}
.menu-button{
    border:none;
    outline: none;
}
.header-menu p {
    font-weight:500;
    font-size:14px;
}

/* mainPart */
.intro {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:100%;
    height:80vh;
    background: url("../img/slider2.jpg") ;
    background-position:center;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
}
.intro h1 {
    text-align:center;
    font-family: 'Libre Baskerville', serif !important;
    color:white;
}
.intro p {
    font-size:18px;
    font-weight:500;
}
.intro-text {
    font-size:60px;
}
.orange-butt {
    line-height: 50px;  
    width:180px;
    height:50px;
    margin: 0 auto;
    margin-top:62px;
    border-radius: 30px;
    background-color: #fc5f45;
}
.orange-butt p {
    text-align:center;
    font-size:16px;
    font-family:'Poppins', sans-serif;
    font-weight:600;
    color:white;
}
.circle-container {
    max-width:800px !important;
}
.circle {
    text-align:center;
}
.img-circle {
    margin-top:82px;
    margin-bottom:34px;
}
.circle-p1 p {
    color:#38c695;
}
.circle-p2 p {
    color:#a776e5;
}
.circle-p3 p {
    color:#feb960;
}

/* aboutUs */
.about-us-block {
    display:flex;
    align-items:center;
    justify-content: center;
    margin:0 auto;
    margin-top:150px;
}
.about-us-background {
    position:relative;
    margin-left:-4vw;
    width:650px;
    height:555px;
    background-color:white;
    z-index:1;
}
.about-us-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center ;
    height: inherit;
    color:#959595;
    max-width:80%;
    margin:0 auto;
}
.line-about-us-background {
    position:absolute;
    bottom:0;
    flex:1 0 auto;
    height:3px;
    width:100%;
    background: linear-gradient(to right,
    #fc5f45 25%,#38c695 25% 50%, #b27cf5 50% 75%, #feb960 75%);
}

/* ourFocus */
.our-focus * {
    text-align:center;
}
.our-focus h2 {
    margin-top:35vh;
}
.our-focus h5 {
    margin-top:20px;
    margin-bottom:10vh;
}
.wrapper-focus {
    width:1140px;
    max-width:75%;
    display:flex;
    margin:0 auto;
    justify-content:space-between;
    flex-wrap:wrap;
}

/* why Select Card */
.why-select-us-container{
    margin-top: 145px;
}
.why-select-card{
    margin-bottom:70px;
}
.why-select-flex{
    display:flex;
    margin-bottom:30px;
}
.why-select-flex img{
    width:50px;
    height:50px;
}
.custom-im-gwhy-select{
    width:50px;
    height:58px !important;
}
.why-select-container p{
    color:#616161;
    margin-bottom:0 !important;
}

.why-select-h h5{
    color:#272727;
    font-weight:500;
    font-size:18px;
    margin-left:15px;
    margin-bottom:5px;

}


/*Start jorny*/
.start-jorny{
    display:flex;
    justify-content: center;
    align-items: center;
}
.jorny-container{
    width:1200px;
    max-width:100%;
    margin:0 auto;
    margin-bottom:270px;
    margin-top:100px;
}
.orange-butt-jorny {
    line-height: 50px;  
    width:180px;
    height:50px;
    margin-left:30px;
    margin-bottom: 8px;
    border-radius: 30px;
    background-color: #fc5f45;
}
.orange-butt-jorny p {
    text-align:center;
    font-size:16px;
    font-family:'Poppins', sans-serif;
    font-weight:600;
    color:white;
}

.card {
    display:flex;
    justify-content: space-around;
    flex-direction:column;
    width:260px;
    height: 320px;
    margin:0 auto;
    background-color: black;
    border:0 !important;
}
.card * {
    margin:0 auto;
    text-align:center;
    max-width:100%;
}

.card p {
    font-size:15px;
    font-weight: 400;
    color:#959595;
}
.card img {
    width:60px;
    height:45px;
}


/* Explore */   
.explore-block {
    margin-top:130px;
    height:500px;
}
.img-explore {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-image: url(../img/explore4.jpg);
    height:500px;
    background-size:cover;
}
.img-explore * {
    color:white;
    font-weight:400;
    display:block;
    text-align:center;
    margin:0 auto;
}
.explore-play {
    display:block;
    margin-top:42px;
    margin-bottom:42px;
}
/* Portfolio */
.img-class {
    display:block !important;
    margin:0 auto;
    margin-top:15px;
}
.port-img-block{
    width:1120px !important;
    max-width:100%;
}

/* -------- */
.our-portfolio *{
    text-align:center;
}
.our-portfolio h2 {
    margin-top:15vh;
}
.our-portfolio h5 {

    margin-top:4vh;
    margin-bottom:10vh;
}

/* Our Team */
.our-team{
    text-align:center;
}
.our-team h2 {
    margin-top:15vh;
}

.our-team h5 {

    margin-top:4vh;
    margin-bottom:10vh;
}

.our-team-card {
    display:flex;
    justify-content: space-between;
    flex-direction:column;

    width:260px;
    height: 350px;
    margin:0 auto;

    background-color: white;
    border:0 !important;
    text-align:center;
}
.img-team {
    width:263px;
    height:270px;
    max-width:100%;
    max-height:80%;
}

/* AboutBennet */
.about-bennet {
    margin:0 auto;
    margin-top:120px;
    margin-bottom:220px;
    max-width:70% !important;
}
.connection-img {
    float:right;
    margin-top:150px;
    margin-right:20%;
}
.social-container {
    margin-top:80px;
    display:flex;
    flex-direction: column;
}
.social-wrapper {
    display:flex;
    flex-direction: stretch;
}
.socialwrapper p{
    margin-bottom:16px;
}
.soc-f{
    margin-top:4px;
    margin-right:4px;
}
/*layer24*/
.layer24 {
    width:100%;
    height:460px;
    background-image: url(../img/Layer24.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.img-layer {
    margin-bottom:28px;
}
.layer24-class {
    height:460px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:15px;
    color:white;
}
.layer24-class {
    font-size:20px;
    color:#bdbdc0;
    margin-bottom:32px;
}
.layer24-class p{
    margin-bottom:38px;
}

/*workSteps*/
.work-steps {
    text-align:center;
}
.work-steps h2 {
    margin-top:148px;
}
.work-steps h5 {

    margin-top:40px;
    margin-bottom:110px;
}
.work-steps-block{
    margin:0 auto;
}
.work-steps-content-block{
    position:relative;
    padding-top:50px;
}
.work-steps1 {
    width: 556px;
    height: 300px;
    background-image:url(..//img/workSteps1.png);
    margin-top:50px;
}
.work-steps2 {
    width: 556px;
    height: 300px;
    background-image:url(..//img/workSteps2.png);
}
.work-steps3 {
    width: 556px;
    height: 300px;
    background-image:url(..//img/workSteps3.png);
}
.work-steps4 {
    width: 556px;
    height: 300px;
    background-image:url(..//img/workSteps4.png);
}


.content-block1{
    position:absolute;
    width: 460px;
    height: 300px;
    background-color: white;
    margin-left: 16vw;
    margin-bottom: 8px;
}
.content-block1 h1{
    font-size:50px;
    font-family: 'Libre Baskerville', serif !important;
    color:#e0e0e0;
    font-weight: var(--bold);
    text-align:center;
}
.content-block1-content p{
    font-size:15px;
    margin:0;
    margin-bottom:4px;
    color:#616161;
}
.content-block1-content h2{
    font-size:25px;
    margin:0;
    margin-top: 30px;
    margin-bottom: 25px;
    color:#272727;
}

.work-steps-content-block2{
    position:relative;
}
.content-block2{
    position: absolute;
    width: 460px;
    height: 300px;
    background-color: white;
    margin-top: 300px;
    margin-left: 60vw;
    margin-bottom: 8px;
}
.content-block2 h1{
    font-size:50px;
    font-family: 'Libre Baskerville', serif !important;
    color:#e0e0e0;
    font-weight: var(--bold);
    text-align:center;
}
.content-block2-content p{
    font-size:15px;
    margin:0;
    margin-bottom:4px;
    color:#616161;
}
.content-block2-content h2{
    font-size:25px;
    margin:0;
    margin-top: 30px;
    margin-bottom: 25px;
    color:#272727;
}


.work-steps-content-block3{
    position:relative;
}
.content-block3{
    position: absolute;
    width: 460px;
    height: 300px;
    background-color: white;
    margin-top: 600px;
    margin-left: 16vw;
    margin-bottom: 8px;
}
.content-block3 h1{
    font-size:50px;
    font-family: 'Libre Baskerville', serif !important;
    color:#e0e0e0;
    font-weight: var(--bold);
    text-align:center;
}
.content-block3-content p{
    font-size:15px;
    margin:0;
    margin-bottom:4px;
    color:#616161;
}
.content-block3-content h2{
    font-size:25px;
    margin:0;
    margin-top: 30px;
    margin-bottom: 25px;
    color:#272727;
}


.work-steps-content-block4{
    position:relative;
}
.content-block4{
    position: absolute;
    width: 460px;
    height: 300px;
    background-color: white;
    margin-top: 900px;
    margin-left: 60vw;
    margin-bottom: 8px;
}
.content-block4 h1{
    font-size:50px;
    font-family: 'Libre Baskerville', serif !important;
    color:#e0e0e0;
    font-weight: var(--bold);
    text-align:center;
}
.content-block4-content p{
    font-size:15px;
    margin:0;
    margin-bottom:4px;
    color:#616161;
}
.content-block4-content h2{
    font-size:25px;
    margin:0;
    margin-top: 30px;
    margin-bottom: 25px;
    color:#272727;
}

/* pricing Table */
.container-content-pricing{
    margin-top: 70px;
}
.pricing-table-container{
    max-width: 100%;
    margin-top: 300px;
}
.pricing-card{
    width :360px;
    height: 570px;
    max-width: 100%;
}
.pricing-card *{
    margin: 0 auto;
    text-align: center;
}
.pricing-card h5{
    margin-top: 30px;
}
.card-pricing-text p{
    margin-bottom: 20px;
}
.pricing-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 115px;
    height: 115px;
    margin-bottom: 30px;
    margin-top: 30px;
    color:white;
}
.pricing-circle1{
    background-image: url(../img/pricingStarterCircle.png);
}
.pricing-circle2{
    background-image: url(../img/pricingUltimateCircle.png);
}
.pricing-circle3{
    background-image: url(../img/pricingProfessionalCircle.png);
}
.button-green-get-started {
    line-height: 50px;  
    width: 180px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid var(--customGreen);
    background-color: none;
}
.button-green-get-started p {
    text-align: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--customGreen);
}

.button-orange-get-started {
    line-height: 50px;  
    width: 180px;
    height: 50px;
    border-radius: 30px;
    background-color: var(--customOrange);
}
.button-orange-get-started p {
    text-align: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
}

.button-purple-get-started {
    line-height: 50px;  
    width: 180px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid var(--customPurple);
    background-color: none;
}
.button-purple-get-started p {
    text-align: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--customPurple);
}

/*Testimonials*/
.testimonials{
    width:100%;
    max-width: 100%;
    height:880px;
    background-image:url(..//img/backgroundTestimonials.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonials h2 {
    color:white;
    padding-top: 150px;
}
.testimonials h5 {
    color:white;
}
.testimonials-container{
    display:flex;
    align-items:center;
    width:60%;
    margin:0 auto;
}
.testimonials-container img{
    height: 399px;
    width:384px;
    z-index:1;
}
.testimonials-container p {
    margin-bottom: 3px;
    text-align:left;
    padding-left:15%;
}
.white-block-testimonials{
    position: relative;
    background-color:white;
    height:300px;
    width: 800px;
    margin-left: -80px;
}
/*ourBlog*/
.container-our-blog {
    margin-top:80px;
}
.our-blog {
    text-align:center;
}
.our-blog-card {
    position:relative;
    max-width:100%;
}
.our-blog-img {
    width:555px;
    height:443px;
    max-width:100%;

    background-image: url("../img/ourBlogImg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.our-blog-content {
    position:relative;
    width:555px;
    height:247px;
    max-width:100%;
    text-align:left;
    margin-bottom:0;
}
.our-blog-content-wrapper{
    max-width:80%;
    height:90%;
    margin:0 auto;
    padding-top:5%;
}
.our-blog-content p{
    margin-bottom:5px;
    font-weight:400;
    color:#272727;
}
.our-blog-content h3{
    font-size:20px;
    font-weight:500;
}
.our-blog-content-right-wrapper{
    max-width:90%;
    height:90%;
    margin:0 auto;
    padding-top:5%;
}
.our-blog-content-right{
    position:relative;
    width:555px;
    height:230px;
    max-height:230px;
    max-width:100%;
    text-align:left;
}
.author{
    display:flex;
    margin-top:0;
}
.author p{
    font-size:13px;
    margin-left:25px;
}
.our-blog-content-right p{
    margin-bottom:5px;
    font-weight:400;
    color:#272727;
}
.our-blog-content-right h3{
    font-size:18px !important;
    font-weight:500;
}
.our-blog-content-right h6{
    font-size:15px !important;
}
/*newsletter*/
.news-letter {
    margin-top:300px;
    text-align: center;
}
.news-letter-p p {
    float:right;
    margin-top: 70px;
    margin-right:115px;
}
.news-letter-butt{
    margin-top:0px;
    border-radius:0px 30px 30px 0px;
    margin-top:53px;
    margin-left:75px;
}
.news-letter-butt p{
    font-weight:400;
    color:white;
    font-size:18px;
}

/*footer*/
.footer-cont {
    margin-top:150px;
    width:100%;
    height:1300px;
    background-color:#cccccc;
}
.footer {
    text-align:center;
    margin:0 auto;
    padding-top:150px;
}
.footer-text{
    margin-top:70px;
}
.wrapper-inp1 {
    padding-top:80px;
}
.wrapper-inp {
    display:flex;
    justify-content: space-between;
    margin:0 auto;
    width:750px;
    max-width:80%;
    margin-bottom:25px;
}
.alexis-footer {
    position:relative;
    width:1140;
    max-width:100%;
    height:230px;
    display:flex;
    justify-content: space-between;
    background-color:#3f4049;
    margin-top:150px;
}
.wrapper-alexis-footer {
    width:25%;
    text-align:left;
}
.wrapper-alexis-footer h5{
    margin-top:60px;
    margin-bottom:35px;
    margin-left:20%;
}
.icon-wrapper{
    margin-left:20%;
}
.soc-f {
    display:block;
    height:17px;
    width:17px;
}
.wrapper-alexis-footer p {
    color:#fef4f2;
}
.wrapper-alexis-text p{
    margin-bottom:3px;
    margin-left:20%;
}
.line-footer {
    bottom:0;
    flex:1 0 auto;
    height:5px;
    width:100%;
    background: linear-gradient(to right,
    var(--customOrange) 25%, var(--customGreen) 25% 50%, var(--customPurple) 50% 75%, var(--customYellow) 75%); 
}





@media screen and (max-width:1200px){
    .header-menu {
        display:none;
    }
    .header-small-menu{
        display: block;
        position:relative;
    }
    .menu-button{
        float:right;
        margin-top:21px;
        margin-right:2% !important;
        width:45px;
        height:45px;
        background-image: url(../img/list.png);
        background-repeat:none;
        background-size: cover;
        border:none;
        outline: none;
    }
}
@media screen and (max-width:1140px){
    .about-us-block , .aboutusblock *{
        all:unset;
        width:100%;
    }
    .about-us-img{
        display:block;
        margin-top:150px !important;
        width:555px;
        height:700px;
        max-width:80%;
        margin:0 auto;
    }
    .about-us-background{
        display:block;
        position:relative;
        width:555px;
        height:555px;
        max-width:80%;
        margin:0 auto;
    }
    .about-us-wrapper{
        display:flex;
        flex-direction: column;
        justify-content: center ;
        height: inherit;
        color:#959595;
        max-width:80%;
        margin:0 auto;
    }
    .line-about-us-background{
        position:absolute;
        bottom:0;
        flex:1 0 auto;
        height:3px;
        width:100%;
        background: linear-gradient(to right,
        #fc5f45 25%,#38c695 25% 50%, #b27cf5 50% 75%, #feb960 75%);
    }
}